%h1 Listing skills

%table
  %thead
    %tr
      %th Acrobatics
      %th Animal handling
      %th Arcana
      %th Athletics
      %th Deception
      %th History
      %th Insight
      %th Intimidation
      %th Investigation
      %th Medicine
      %th Nature
      %th Perception
      %th Perception
      %th Performance
      %th Persuasion
      %th Religion
      %th Sleight of hand
      %th Stealth
      %th Survival
      %th Ability
      %th
      %th
      %th
      
  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.acrobatics
        %td= skill.animal_handling
        %td= skill.arcana
        %td= skill.athletics
        %td= skill.deception
        %td= skill.history
        %td= skill.insight
        %td= skill.intimidation
        %td= skill.investigation
        %td= skill.medicine
        %td= skill.nature
        %td= skill.perception
        %td= skill.perception
        %td= skill.performance
        %td= skill.persuasion
        %td= skill.religion
        %td= skill.sleight_of_hand
        %td= skill.stealth
        %td= skill.survival
        %td= skill.ability
        %td= link_to 'Show', skill
        %td= link_to 'Edit', edit_skill_path(skill)
        %td= link_to 'Destroy', skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Skill', new_skill_path
