%p#notice= notice

%p
  %b Acrobatics:
  = @skill.acrobatics
%p
  %b Animal handling:
  = @skill.animal_handling
%p
  %b Arcana:
  = @skill.arcana
%p
  %b Athletics:
  = @skill.athletics
%p
  %b Deception:
  = @skill.deception
%p
  %b History:
  = @skill.history
%p
  %b Insight:
  = @skill.insight
%p
  %b Intimidation:
  = @skill.intimidation
%p
  %b Investigation:
  = @skill.investigation
%p
  %b Medicine:
  = @skill.medicine
%p
  %b Nature:
  = @skill.nature
%p
  %b Perception:
  = @skill.perception
%p
  %b Perception:
  = @skill.perception
%p
  %b Performance:
  = @skill.performance
%p
  %b Persuasion:
  = @skill.persuasion
%p
  %b Religion:
  = @skill.religion
%p
  %b Sleight of hand:
  = @skill.sleight_of_hand
%p
  %b Stealth:
  = @skill.stealth
%p
  %b Survival:
  = @skill.survival
%p
  %b Ability:
  = @skill.ability

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
