= form_for @ability_modifier do |f|
  - if @ability_modifier.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ability_modifier.errors.count, "error")} prohibited this ability_modifier from being saved:"
      %ul
        - @ability_modifier.errors.full_messages.each do |msg|
          %li= msg

   
    = am.label :strength, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :strength, "Str Mod", class: "col-md-2 control-label"
   
    = am.label :dexterity, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :dexterity, "Dex Mod", class: "col-md-2 control-label"
   
    = am.label :constitution, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :constitution, "Con Mod", class: "col-md-2 control-label"
   
    = am.label :intelligence, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :intelligence, "Int Mod", class: "col-md-2 control-label"
   
    = am.label :wisdom, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :wisdom, "Wis Mod", class: "col-md-2 control-label"
   
    = am.label :charisma, class: "col-md-2 control-label"
    .col-md-2
      = am.number_field :charisma, "Cha Mod", class: "col-md-2 control-label"
   
  .actions
    = am.submit 'Save'
