%p#notice= notice

%p
  %b Strength:
  = @ability_modifier.strength
%p
  %b Dexterity:
  = @ability_modifier.dexterity
%p
  %b Constitution:
  = @ability_modifier.constitution
%p
  %b Intelligence:
  = @ability_modifier.intelligence
%p
  %b Wisdom:
  = @ability_modifier.wisdom
%p
  %b Charisma:
  = @ability_modifier.charisma
%p
  %b Ability:
  = @ability_modifier.ability

= link_to 'Edit', edit_ability_modifier_path(@ability_modifier)
\|
= link_to 'Back', ability_modifiers_path
