= form_for @character, :html => {:class => 'form-horizontal'} do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :race, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :race, class: "form-control"
    = f.label :character_class, "Class", class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :character_class, class: "form-control"
  .form-group
    = f.label :background, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :background, class: "form-control"
    = f.label :alignment, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :alignment, class: "form-control"
  .form-group
    = f.label :experience, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :experience, class: "form-control"
    = f.label :level, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :level, class: "form-control"
  .form-group
    = f.label :speed, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :speed, class: "form-control"
    = f.label :proficiency_bonus, "Proficiency Bonus", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :proficiency_bonus, class: "form-control"
  .form-group
    = f.label :max_hp, "Max HP", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :max_hp, class: "form-control"
    = f.label :armor_class, "Armor Class", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :armor_class, class: "form-control"
  .form-group
    = f.label :hit_die, "Hit Die", class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :hit_die, class: "form-control"
    = f.label :total_hit_die, "Total Hit Die", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :total_hit_die, class: "form-control"
  .form-group
    = f.label :languages, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :languages, class: "form-control"
  = f.fields_for :ability, @character.ability do |a|
    =a.fields_for :saving_throw, @character.ability.saving_throw do |st|
      =a.fields_for :ability_modifier, @character.ability.ability_modifier do |am|
        .col-md-2
        .col-md-2
          %h3 Ability Scores
        .col-md-2
        .col-md-2
          %h3 Ability Modifiers
        .col-md-2
        .col-md-2
          %h3 Saving Throws
        .form-group.strength
          = a.label :strength, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :strength, class: "form-control"
          = am.label :strength, "Str Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :strength, class: "form-control"
          = st.label :strength, "Str Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :strength, class: "form-control"
        .form-group.dexterity
          = a.label :dexterity, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :dexterity, class: "form-control"
          = am.label :dexterity, "Dex Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :dexterity, class: "form-control"
          = st.label :dexterity, "Dex Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :dexterity, class: "form-control"
        .form-group.constitution
          = a.label :constitution, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :constitution, class: "form-control"
          = am.label :constitution, "Con Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :constitution, class: "form-control"
          = st.label :constitution, "Con Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :constitution, class: "form-control"
        .form-group.intelligence
          = a.label :intelligence, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :intelligence, class: "form-control"
          = am.label :intelligence, "Int Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :intelligence, class: "form-control"
          = st.label :intelligence, "Int Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :intelligence, class: "form-control"
        .form-group.wisdom
          = a.label :wisdom, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :wisdom, class: "form-control"
          = am.label :wisdom, "Wis Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :wisdom, class: "form-control"
          = st.label :wisdom, "Wis Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :wisdom, class: "form-control"
        .form-group.charisma
          = a.label :charisma, class: "col-md-2 control-label"
          .col-md-2
            = a.number_field :charisma, class: "form-control"
          = am.label :charisma, "Cha Mod", class: "col-md-2 control-label"
          .col-md-2
            = am.number_field :charisma, class: "form-control"
          = st.label :charisma, "Cha Saving Throw", class: "col-md-2 control-label"
          .col-md-2
            = st.number_field :charisma, class: "form-control"
    =a.fields_for :skill, @character.ability.skill do |s|
      .col-md-1
      .col-md-11
        %h3 Skills
        %br
      .form-group
        = s.label :acrobatics, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :acrobatics, class: "form-control"
        = s.label :insight, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :insight, class: "form-control"
        = s.label :performance, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :performance, class: "form-control"
      .form-group
        = s.label :animal_handling, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :animal_handling, class: "form-control"
        = s.label :intimidation, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :intimidation, class: "form-control"
        = s.label :persuasion, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :persuasion, class: "form-control"
      .form-group
        = s.label :arcana, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :arcana, class: "form-control"
        = s.label :investigation, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :investigation, class: "form-control"
        = s.label :religion, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :religion, class: "form-control"
      .form-group
        = s.label :athletics, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :athletics, class: "form-control"
        = s.label :medicine, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :medicine, class: "form-control"
        = s.label :sleight_of_hand, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :sleight_of_hand, class: "form-control"
      .form-group
        = s.label :deception, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :deception, class: "form-control"
        = s.label :nature, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :nature, class: "form-control"
        = s.label :stealth, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :stealth, class: "form-control"
      .form-group
        = s.label :history, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :history, class: "form-control"
        = s.label :perception, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :perception, class: "form-control"
        = s.label :survival, class: "col-md-2 control-label"
        .col-md-2
          = s.number_field :survival, class: "form-control"
  .col-md-2
    = f.submit 'Save', class: "btn btn-primary"
