= form_for @character, :html => {:class => 'form-horizontal'} do |f|
  - if @character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :race, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :race, class: "form-control"
    = f.label :character_class, "Class", class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :character_class, class: "form-control"
  .form-group
    = f.label :background, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :background, class: "form-control"
    = f.label :alignment, class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :alignment, class: "form-control"
  .form-group
    = f.label :experience, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :experience, class: "form-control"
    = f.label :level, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :level, class: "form-control"
  .form-group
    = f.label :speed, class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :speed, class: "form-control"
    = f.label :proficiency_bonus, "Proficiency Bonus", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :proficiency_bonus, class: "form-control"
  .form-group
    = f.label :max_hp, "Max HP", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :max_hp, class: "form-control"
    = f.label :armor_class, "Armor Class", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :armor_class, class: "form-control"
  .form-group
    = f.label :hit_die, "Hit Die", class: "col-md-2 control-label"
    .col-md-4
      = f.text_field :hit_die, class: "form-control"
    = f.label :total_hit_die, "Total Hit Die", class: "col-md-2 control-label"
    .col-md-4
      = f.number_field :total_hit_die, class: "form-control"
  .form-group
    = f.label :languages, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :languages, class: "form-control"
  = f.fields_for :ability, @character.ability do |a|
    =a.fields_for :saving_throw, @character.ability.saving_throw do |st|
      .form-group
        = a.label :strength, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :strength, class: "form-control"
        = st.label :strength, "Str Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :strength, class: "form-control"
      .form-group
        = a.label :dexterity, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :dexterity, class: "form-control"
        = st.label :dexterity, "Dex Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :dexterity, class: "form-control"
      .form-group
        = a.label :constitution, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :constitution, class: "form-control"
        = st.label :constitution, "Con Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :constitution, class: "form-control"
      .form-group
        = a.label :intelligence, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :intelligence, class: "form-control"
        = st.label :intelligence, "Int Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :intelligence, class: "form-control"
      .form-group
        = a.label :wisdom, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :wisdom, class: "form-control"
        = st.label :wisdom, "Wis Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :wisdom, class: "form-control"
      .form-group
        = a.label :charisma, class: "col-md-2 control-label"
        .col-md-2
          = a.number_field :charisma, class: "form-control"
        = st.label :charisma, "Cha Saving Throw", class: "col-md-2 control-label"
        .col-md-2
          = st.number_field :charisma, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
