%h1 All Characters

%table.table-striped.table-hover.col-md-12
  %thead
    %tr
      %th.col-md-4.col-sm-4 Name
      %th.col-md-2.col-sm-4.text-center Race
      %th.col-md-2.col-sm-4.text-center Class
      %th.col-md-1.col-sm-4
      %th.col-md-1.col-sm-4
      %th.col-md-1.col-sm-4
      
  %tbody
    - @characters.each do |character|
      %tr
        %td= character.name
        %td.text-center= character.race
        %td.text-center= character.character_class
        %td.text-right= link_to 'View', character
        %td.text-right= link_to 'Edit', edit_character_path(character)
        %td.text-right= link_to 'Delete', character, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row
%br
= link_to 'New Character', new_character_path
