%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Race:
  = @character.race
%p
  %b Character class:
  = @character.character_class
%p
  %b Background:
  = @character.background
%p
  %b Alignment:
  = @character.alignment
%p
  %b Experience:
  = @character.experience
%p
  %b Level:
  = @character.level
%p
  %b Speed:
  = @character.speed
%p
  %b Proficiency bonus:
  = @character.proficiency_bonus
%p
  %b Max hp:
  = @character.max_hp
%p
  %b Max hp:
  = @character.max_hp
%p
  %b Armor class:
  = @character.armor_class
%p
  %b Hit die:
  = @character.hit_die
%p
  %b Total hit die:
  = @character.total_hit_die
%p
  %b Languages:
  = @character.languages

%p
  %h3 Skills and Saving Throws
%p
  %b Strength:
  = @ability.strength
%p
  %b Dexterity:
  = @ability.dexterity
%p
  %b Constitution:
  = @ability.constitution
%p
  %b Intelligence:
  = @ability.intelligence
%p
  %b Wisdom:
  = @ability.wisdom
%p
  %b Charisma:
  = @ability.charisma
%p
  %b Strength Saving Throw:
  = @saving_throw.strength
%p
  %b Dexterity Saving Throw:
  = @saving_throw.dexterity
%p
  %b Constitution Saving Throw:
  = @saving_throw.constitution
%p
  %b Intelligence Saving Throw:
  = @saving_throw.intelligence
%p
  %b Wisdom Saving Throw:
  = @saving_throw.wisdom
%p
  %b Charisma Saving Throw:
  = @saving_throw.charisma

%p
  %h3 Skills
%p
  %b Acrobatics:
  = @skill.acrobatics
%p
  %b Animal handling:
  = @skill.animal_handling
%p
  %b Arcana:
  = @skill.arcana
%p
  %b Athletics:
  = @skill.athletics
%p
  %b Deception:
  = @skill.deception
%p
  %b History:
  = @skill.history
%p
  %b Insight:
  = @skill.insight
%p
  %b Intimidation:
  = @skill.intimidation
%p
  %b Investigation:
  = @skill.investigation
%p
  %b Medicine:
  = @skill.medicine
%p
  %b Nature:
  = @skill.nature
%p
  %b Perception:
  = @skill.perception
%p
  %b Perception:
  = @skill.perception
%p
  %b Performance:
  = @skill.performance
%p
  %b Persuasion:
  = @skill.persuasion
%p
  %b Religion:
  = @skill.religion
%p
  %b Sleight of hand:
  = @skill.sleight_of_hand
%p
  %b Stealth:
  = @skill.stealth
%p
  %b Survival:
  = @skill.survival
= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
