= form_for @ability do |f|
  - if @ability.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ability.errors.count, "error")} prohibited this ability from being saved:"
      %ul
        - @ability.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :strength
    = f.number_field :strength
  .field
    = f.label :dexterity
    = f.number_field :dexterity
  .field
    = f.label :constitution
    = f.number_field :constitution
  .field
    = f.label :intelligence
    = f.number_field :intelligence
  .field
    = f.label :wisdom
    = f.number_field :wisdom
  .field
    = f.label :charisma
    = f.number_field :charisma
  .field
    = f.label :character
    = f.text_field :character
  .actions
    = f.submit 'Save'
