%h1 Listing abilities

%table
  %thead
    %tr
      %th Strength
      %th Dexterity
      %th Constitution
      %th Intelligence
      %th Wisdom
      %th Charisma
      %th Character
      %th
      %th
      %th
      
  %tbody
    - @abilities.each do |ability|
      %tr
        %td= ability.strength
        %td= ability.dexterity
        %td= ability.constitution
        %td= ability.intelligence
        %td= ability.wisdom
        %td= ability.charisma
        %td= ability.character
        %td= link_to 'Show', ability
        %td= link_to 'Edit', edit_ability_path(ability)
        %td= link_to 'Destroy', ability, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ability', new_ability_path
