%p#notice= notice

%p
  %b Strength:
  = @ability.strength
%p
  %b Dexterity:
  = @ability.dexterity
%p
  %b Constitution:
  = @ability.constitution
%p
  %b Intelligence:
  = @ability.intelligence
%p
  %b Wisdom:
  = @ability.wisdom
%p
  %b Charisma:
  = @ability.charisma
%p
  %b Character:
  = @ability.character

= link_to 'Edit', edit_ability_path(@ability)
\|
= link_to 'Back', abilities_path
