= form_for @saving_throw do |f|
  - if @saving_throw.errors.any?
    #error_explanation
      %h2= "#{pluralize(@saving_throw.errors.count, "error")} prohibited this saving_throw from being saved:"
      %ul
        - @saving_throw.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :strength
    = f.number_field :strength
  .field
    = f.label :dexterity
    = f.number_field :dexterity
  .field
    = f.label :constitution
    = f.number_field :constitution
  .field
    = f.label :intelligence
    = f.number_field :intelligence
  .field
    = f.label :wisdom
    = f.number_field :wisdom
  .field
    = f.label :charisma
    = f.number_field :charisma
  .field
    = f.label :ability
    = f.text_field :ability
  .actions
    = f.submit 'Save'
