= form_for @saving_throw do |f|
  - if @saving_throw.errors.any?
    #error_explanation
      %h2= "#{pluralize(@saving_throw.errors.count, "error")} prohibited this saving_throw from being saved:"
      %ul
        - @saving_throw.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = st.label :strength, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :strength, class: "form-control"
  .form-group
    = st.label :dexterity, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :dexterity
  .form-group
    = st.label :constitution, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :constitution
  .form-group
    = st.label :intelligence, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :intelligence
  .form-group
    = st.label :wisdom, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :wisdom
  .form-group
    = st.label :charisma, class: "col-md-2 control-label"
    .col-md-2
      = st.number_field :charisma
  .form-group
    = st.label :ability, class: "col-md-2 control-label"
    .col-md-2
      = st.text_field :ability
  .actions
    = st.submit 'Save'
