%p#notice= notice

%p
  %b Strength:
  = @saving_throw.strength
%p
  %b Dexterity:
  = @saving_throw.dexterity
%p
  %b Constitution:
  = @saving_throw.constitution
%p
  %b Intelligence:
  = @saving_throw.intelligence
%p
  %b Wisdom:
  = @saving_throw.wisdom
%p
  %b Charisma:
  = @saving_throw.charisma
%p
  %b Ability:
  = @saving_throw.ability

= link_to 'Edit', edit_saving_throw_path(@saving_throw)
\|
= link_to 'Back', saving_throws_path
